.add-property {
    padding: 10px 20px 10px 20px;
}

.add-property > h1 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px;
}

form {
    padding: 10px;
    border: 1px solid #B2B2B2;
}

input {
    width: 20%;
}

select {
    width: 15%;
}

.add-property-button {
    margin: 10px;
    background-color: transparent;
    border: 0;
    font-size: 2.5rem;
    color: #774872;
}