.navbar {
    border-bottom: 1px solid #B2B2B2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-logo {
    width: 20%;
    display: flex;
    padding-left: 2%;
    column-gap: 5%;
}

.navbar-logo-icon {
    color: #774872;
    font-size: 2rem;
    display: inline;
}

.navbar-logo-title {
    display: inline;
    font-weight: 800;
}

.navbar-links {
    margin: 0;
    padding: 0;
}

.navbar-links-item {
    margin: 0;
    padding: 25px;
    display: inline-block;
}

.item {
    text-decoration: inherit;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 600;
}