.properties-outer {
    display: grid;
    grid-template-columns: 1fr 10fr;
  }

.properties-inner { 
    padding: 10px 20px 10px 20px;
}

.properties-inner > h1 {
    margin-bottom: 2px;
}

.properties-inner > .properties-item {
    display: inline-block;
    width: 33.33%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
